@import 'https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Special+Elite';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 105%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Special Elite';
    color: #333;
}

html {
    background: #ccc;
}

body {
    background: #ccc;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-size: 30px;
    font-family: 'Special Elite';
}

a {
    display: inline-block;
    color: #a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    background: #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
