@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|PT+Serif');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 105%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'PT Serif', serif;
    color: #333;
}

html {
    background: #ccc;
}

body {
    background: #ccc;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
}

p {
    margin-bottom: 15px;
}

a {
    display: inline-block;
    color: #a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#effects {
    height: 204px;
    width: 404px;
    margin: auto;
    margin-bottom: 20px;
}

#effects #before,
#effects #after {
    display: block;
    float: left;
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    background: #fff;
}

#effects #after {
    filter: url('../filters.svg#f065');
}

#effects .shape {
    position: relative;
    font-size: 7em;
    text-align: left;
    display: inline;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

#effects .shape1 {
    left: 0px;
    top: 0px;
    color: red;
}

#effects .shape2 {
    left: -50px;
    top: 15px;
    color: green;
}

#effects .shape3 {
    left: 40px;
    top: -140px;
    color: blue;
}

#filter-code {
    background: rgba(255,255,255,0.5);
    width: 60%;
    padding: 10px;
    margin: auto;
    font-family: 'PT Mono', monospace;
    color: #777;
}

#wrapper {
    background: #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
