@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|PT+Serif');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'PT Sans', sans-serif;
    color: #333;
}

html {
    background: #ddd;
}

body {
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'PT Serif', serif;
}

p {
    margin-bottom: 15px;
}

a {
    display: inline-block;
    color: #a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#effects {
    height: 400px;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #000;
}

#content {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background: rgba(0,0,0,0.9);
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    color: #eee;
    padding: 20px;
    padding-top: 40px;
    font-size: 0.8em;
}

#sidebar h2,
#sidebar p {
    color: #ddd;
}

#filter-list {
    padding: 6px;
    height: 300px;
    background: rgba(255,255,255,0.1);
    overflow-y: scroll;
}

#filter-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#filter-list ul li {
    cursor: pointer;
    color: #aaa;
}

#filter-list ul li:hover {
    color: #fff;
}

#filter-list ul li.selected {
    color: yellow;
}

svg {
    display: none;
}

.preview-form .preview-input,
.preview-form input.preview-input {
    border-radius: 2em;
    padding: .5em 1em;
}

.preview-form input,
.preview-form select,
.preview-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    background: rgba(255,255,255,0.75);
}

button.preview-button {
    background: rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;
}

#filter-code {
    background: rgba(255,255,255,0.75);
    padding: 10px;
    font-family: 'PT Mono', monospace;
}

#filter-name {
    padding: 10px 0 0 0;
    color: #ccc;
    display: block;
}